---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/annotations/6737668?text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6e441587cededa6bcea44cd3f9c8b73e"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotation":{"current_user_metadata":{"permissions":[],"interactions":{"vote":null,"cosign":false}},"verified_by":{"current_user_metadata":{"permissions":["send_new_message","send_message"]},"tracking_paths":{"aggregate":"/dluxemburg"},"role_for_display":"regulator","avatar":{"medium":{"bounding_box":{"height":400,"width":300},"url":"http://images.rapgenius.com/avatars/medium/b6585945ae081eee33c437722788c3ce"},"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/b6585945ae081eee33c437722788c3ce"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/b6585945ae081eee33c437722788c3ce"},"small":{"bounding_box":{"height":100,"width":100},"url":"http://images.rapgenius.com/avatars/small/b6585945ae081eee33c437722788c3ce"},"original":{"bounding_box":{"height":2000,"width":2000},"url":"http://images.rapgenius.com/avatars/original/b6585945ae081eee33c437722788c3ce"}},"artist":{"image_url":null,"name":"Daniel
        Luxemburg","id":345109,"url":"http://genius.com/artists/Daniel-luxemburg"},"iq":736,"api_path":"/users/1545622","about_me":{"plain":"Not
        a scientist."},"name":"Daniel Luxemburg","id":1545622,"login":"dluxemburg"},"share_url":"http://genius.com/6737668","pinned":false,"body":{"plain":"In
        this case, 6737668."},"votes_total":0,"authors":[{"attribution":1.0,"user":{"role_for_display":"regulator","avatar":{"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/b6585945ae081eee33c437722788c3ce"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/b6585945ae081eee33c437722788c3ce"}},"name":"Daniel
        Luxemburg","id":1545622}}],"state":"verified","comment_count":0,"id":6737668,"url":"http://genius.com/6737668/docs.genius.com"}},"meta":{"status":200}}'
  recorded_at: Fri, 26 Jun 2015 20:29:15 GMT
[...]
