---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/annotations/6737668?text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6e441587cededa6bcea44cd3f9c8b73e"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotation":{"current_user_metadata":{"permissions":[],"interactions":{"vote":null,"cosign":false}},"verified_by":{"current_user_metadata":{"permissions":["send_new_message","send_message"]},"tracking_paths":{"aggregate":"/dluxemburg"},"role_for_display":"regulator","avatar":{"medium":{"bounding_box":{"height":400,"width":300},"url":"http://images.rapgenius.com/avatars/medium/b6585945ae081eee33c437722788c3ce"},"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/b6585945ae081eee33c437722788c3ce"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/b6585945ae081eee33c437722788c3ce"},"small":{"bounding_box":{"height":100,"width":100},"url":"http://images.rapgenius.com/avatars/small/b6585945ae081eee33c437722788c3ce"},"original":{"bounding_box":{"height":2000,"width":2000},"url":"http://images.rapgenius.com/avatars/original/b6585945ae081eee33c437722788c3ce"}},"artist":{"image_url":null,"name":"Daniel
        Luxemburg","id":345109,"url":"http://genius.com/artists/Daniel-luxemburg"},"iq":736,"api_path":"/users/1545622","about_me":{"plain":"Not
        a scientist."},"name":"Daniel Luxemburg","id":1545622,"login":"dluxemburg"},"share_url":"http://genius.com/6737668","pinned":false,"body":{"plain":"In
        this case, 6737668."},"votes_total":0,"authors":[{"attribution":1.0,"user":{"role_for_display":"regulator","avatar":{"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/b6585945ae081eee33c437722788c3ce"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/b6585945ae081eee33c437722788c3ce"}},"name":"Daniel
        Luxemburg","id":1545622}}],"state":"verified","comment_count":0,"id":6737668,"url":"http://genius.com/6737668/docs.genius.com"}},"meta":{"status":200}}'
  recorded_at: Fri, 26 Jun 2015 20:29:15 GMT
[...]
- request:
    method: put
    uri: https://api.genius.com/annotations/6737668/upvote
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"410695ba2933a59eafd33f92693a94ab"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotation":{"pinned":false,"body":{"dom":{"children":[{"children":["In
        this case, 6737668."],"tag":"p"}],"tag":"root"}},"current_user_metadata":{"interactions":{"cosign":false,"vote":"up"},"permissions":[]},"votes_total":1,"authors":[{"user":{"role_for_display":"regulator","avatar":{"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/b6585945ae081eee33c437722788c3ce"},"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/b6585945ae081eee33c437722788c3ce"}},"name":"Daniel
        Luxemburg","id":1545622},"a[...]
- request:
    method: put
    uri: https://api.genius.com/annotations/6737668/unvote
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"52ba1a66aa5b3545b23dc7cc7c6c044f"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotatio[...]
- request:
    method: put
    uri: https://api.genius.com/annotations/6737668/downvote
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"7a212e6e37e0956de346adda9588930e"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotat[...]
- request:
    method: get
    uri: https://api.genius.com/annotations/2734383?text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f75592191bfd663e2977569d96e54ed3"'
    body:
      encoding: UTF-8
      string: '{"response":{"annotation":{"pinned":false,"body":{"plain":"Getting
        a visa to work in the United States isn\u2019t easy. It might even be more
        more work than the work you\u2019ll be able to once you get it\u2026"},"current_user_metadata":{"permissions":[],"interactions":{"cosign":false,"vote":null}},"verified_by":null,"cosigned_by":[],"votes_total":-9,"authors":[{"user":{"iq":1142.63425752819,"role_for_display":"editor","name":"timrogers","id":128992,"avatar":{"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/3923e847bb227e6100b42f7d27d93478"},"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/3923e847bb227e6100b42f7d27d93478"}}},"attribution":1.0}],"state":"accepted","share_url":"http://genius.com/2734383","comment_count":1,"id":2734383,"url":"http://genius.com/2734383/A-ap-ferg-work-remix/Immigration-give-you-nothing-but-work"}},"meta":{"status":200}}'
  recorded_at: Fri, 03 Jul 2015 09:59:43 GMT
- request:
    method: put
    uri: https://api.genius.com/annotations/2734383
    body:
      encoding: UTF-8
      string: annotation[body][markdown]=Getting%20a%20visa%20to%20work%20in%20the%20United%20States%20isn't%20easy.%20It%20might%20even%20be%20more%20more%20work%20than%20the%20work%20you'll%20be%20able%20to%20once%20you%20get%20it...
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      C[...]
- request:
    method: delete
    uri: https://api.genius.com/annotations/6737668
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"response":{"errors":["Sorry, you''re not allowed to do that"]},"meta":{"status":403,"message":"403
        Forbidden"}}'
  recorded_at: Fri, 03 Jul 2015 10:08:46 GMT
- request:
    method: delete
    uri: https://api.genius.com/annotations/2734383
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"70b51e54fd846eab6dcafafee039219b"'
    body:
      encoding: UTF-8
      string: '{"response":null,"meta":{"status":200}}'
  recorded_at: Fri, 03 Jul 2015 10:10:03 GMT
recorded_with: VCR 2.5.0
