---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/artists/16775?text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"756301d7fcd25a1a474dbc8c3ed7814b"'
    body:
      encoding: UTF-8
      string: '{"response":{"artist":{"user":{"role_for_display":"verified_artist","iq":3745.0,"avatar":{"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/53de8eb7026ab0d16eb4d6dcfaecf824"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/53de8eb7026ab0d16eb4d6dcfaecf824"}},"name":"Sia","id":656681},"description":{"plain":"Sia
        Kate Isobelle Furler (born December 18, 1975) or simply Sia, is an Australian
        pop and jazz singer and songwriter. Her mid-2010 international tour was cancelled
        with Sia citing extreme lethargy and panic attacks. She considered retiring
        from touring permanently until she was diagnosed with Graves'' disease \u2013
        an autoimmune disorder with an over-active thyroid. After resting and hormone
        replacement therapy, Sia resumed touring with gigs in A[...]
[...]
- request:
    method: get
    uri: https://api.genius.com/artists/16775/songs?id=16775&text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"51c1054e0b05ad385c70ebbbbcda39a6"'
    body:
      encoding: UTF-8
      string: '{"response":{"songs":[{"title":"1000 Forms of Fear Tracklist and Album
        Artwork","primary_artist":{"image_url":"http://images.rapgenius.com/de1b2bbca8e366211c986f5680e1c1dc.650x430x1.jpg","name":"Sia","id":16775,"url":"http://genius.com/artists/Sia"},"annotation_count":1,"pyongs_count":7,"id":442856,"header_image_url":"http://images.rapgenius.com/97bc06dd9e815cfc5ebbdd26a8099e01.640x640x1.jpg","url":"http://genius.com/Sia-1000-forms-of-fear-tracklist-and-album-artwork-lyrics"},{"title":"Academia","primary_artist":{"image_url":"http://images.rapgenius.com/de1b2bbca8e366211c986f5680e1c1dc.650x430x1.jpg","name":"Sia","id":16775,"url":"http://genius.com/artists/Sia"},"annotation_count":1,"pyongs_count":1,"id":511110,"header_image_url":"http://images.rapgenius.com/69039246171b87edd2c86ba6197e5810.500x500x1.png","u[...]
