---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/referents/?text_format=plain&web_page_id=10347
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"af9aa5fa5408df6751dd9907e42f8f90"'
    body:
      encoding: UTF-8
      string: '{"response":{"referents":[{"annotatable":{"title":"Genius API","type":"WebPage","id":10347,"url":"http://genius.com/docs.genius.com"},"annotator_id":1821545,"annotations":[{"current_user_metadata":{"permissions":[],"interactions":{"vote":null,"cosign":false}},"share_url":"http://genius.com/6913377","pinned":false,"body":{"plain":"I
        made a Node client for the Genius API: https://github.com/alexbooker/node-genius\n\nHopefully
        someone will find it useful :)"},"votes_total":2,"verified_by":{"current_user_metadata":{"permissions":["send_new_message","send_message"]},"role_for_display":null,"tracking_paths":{"aggregate":"/bookerio"},"artist":null,"api_path":"/users/1821545","about_me":{"plain":""},"avatar":{"medium":{"bounding_box":{"height":400,"width":300},"url":"http://images.rapgenius.com/avatars/medium/17a78fb0ba0851ad4bcf207e0cab6bd0"},"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/17a78fb0ba0851ad4bcf207e0cab6bd0"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/17a78fb0ba0851ad4bcf207e0cab6bd0"},"small":{"bounding_box":{"height":100,"width":100},"url":"http://images.rapgenius.com/avatars/small/17a78fb0ba0851ad4bcf207e0cab6bd0"},"original":{"bounding_box":{"height":2000,"width":2000},"url":"http://images.rapgenius.com/avatars/original/17a78fb0ba0851ad4bcf207e0cab6bd0"}},"name":"bookerio","id":1821545,"iq":137,"login":"bookerio"},"authors":[{"attribution":1.0,"user":{"role_for_display":null,"avatar":{"tiny":{"bounding_box":{"height":16,"width":16},"url":"http://images.rapgenius.com/avatars/tiny/17a78fb0ba0851ad4bcf207e0cab6bd0"},"thumb":{"bounding_box":{"height":32,"width":32},"url":"http://images.rapgenius.com/avatars/thumb/17a78fb0ba0851ad4bcf207e0cab6bd0"}},"name":"bookerio","id":1821545}}],"comment_count":2,"state":"verified","id":6913377,"url":"http://genius.com/6913377/docs.genius.com"}],"classification":"accepted","path":"/6913377/docs.genius.com","song_id":null,"fragment":"Making
        Requests","range":{"start":"/div[2]/div[2]/h3[2]","endOffset":"15","before":"Genius.
        The redirect_uri is used for authenticating Genius users with your application.
        You can change it later. The API Client will belong to the user account signed
        in to Genius when it''s created.\n\n","end":"/div[2]/div[2]/h3[2]","startOffset":"0","after":"\n\nThe
        available endpoints are listed below in the resources section, along with
        embedded examples showing how they work and what they return.\n\nGenius uses
        OAuth2 for authentication. All API requests m","content":"Making Requests"},"api_path":"/referents/6913376","id":6913377,"url":"http://genius.com/6913377/docs.genius.com"},{"annotatable":{"title":"Genius
        API","type":"WebPage","id":10347,"url":"http://genius.com/docs.genius.com"},"annotator_id":1821545,"annotations":[{"current_user_metadata":{"permissions":[],"interactions":{"vote":null,"cosign":false}},"share_url":"http://genius.com/6902423","pinned":false,"body":{"plain":"Could
        someone please elaborate on what the cannonical_url is? I[...]
