---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/search?q=The%20Hills&text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"f838eaf42adfd8f5815a6905bd1329c3"'
    body:
      encoding: UTF-8
      string: '{"response":{"hits":[{"result":{"title":"The Hills","primary_artist":{"image_url":"http://images.rapgenius.com/581fa38475c389dd3c3071c9917e7071.500x310x1.png","name":"The
        Weeknd","id":2358,"url":"http://genius.com/artists/The-weeknd"},"annotation_count":1,"pyongs_count":1004,"id":727466,"header_image_url":"http://images.rapgenius.com/db4da3c7533c25a56417ffecc0251b8b.598x170x1.png","url":"http://genius.com/The-weeknd-the-hills-lyrics"},"highlights":{}},{"result":{"title":"House
        In The Hills","primary_artist":{"image_url":"http://images.rapgenius.com/0b37a2b5f4681a36879f42d5a9ca3243.600x600x1.jpg","name":"Wiz
        Khalifa","id":310,"url":"http://genius.com/artists/Wiz-khalifa"},"annotation_count":1,"pyongs_count":22,"id":494510,"header_image_url":"http://images.rapgenius.com/fee01150693867b6cc3fa17c6b1df630.600x600x1.jpg","url":"http://genius.com/Wiz-khalifa-house-in-the-hills-lyrics"},"highlights":{}},{"result":{"title":"Over
  [...]
