---
http_interactions:
- request:
    method: get
    uri: https://api.genius.com/web_pages/lookup?raw_annotatable_url=https://docs.genius.com&text_format=plain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dummy-genius-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"342c80e7bdaddcc24d0e195c2bf39560"'
    body:
      encoding: UTF-8
      string: '{"response":{"web_page":{"annotation_count":12,"share_url":"http://genius.it/docs.genius.com","title":"Genius
        API","normalized_url":"//docs.genius.com","domain":"docs.genius.com","id":10347,"url":"http://genius.com/docs.genius.com"}},"meta":{"status":200}}'
  recorded_at: Fri, 26 Jun 2015 20:57:31 GMT
recorded_with: VCR 2.5.0
